@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{ 
    ViewData["Title"] = "Role" ;
}


<h2 class="loginpagetext buytext">Role List</h2>

<table class="table buytextni22 ">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btncancel btnc">
                      Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
@Html.ActionLink("Add Role", "Create", "Roles", new { }, new { @class = "btnsend compItem" })
<a asp-action="UserList" class="btnem">List of Users</a>