@model IEnumerable<Task1_Homework.Business.User>

<h2 class="loginpagetext buytext">List of Users</h2>
<table class="table block1">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="btnem" asp-action="Edit" asp-route-userid="@user.Id">Access rights</a>
            </td>
        </tr>
    }
</table>
