@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1 class="uselocalacc">@ViewData["Title"]</h1>
<p class="onfpass">
    Please check your email to reset your password.
</p>

