@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutForHomePage.cshtml";
}


<div>
    <p class="buyticket">BuyTicket</p><div class="triangle"></div>
    <h1 class="welc">Welcome</h1>
    <p class="hometext">
        If you want to find a place, which includes
        comfortable process of buying tickets or
        sailing them, you’re get to the right place.
        Hurry! Click on “Get started” to know more
        about new interesting events!
    </p>
    <a class="getstartbutton" href="/Event/Index"><p class="pgetstarted">Get Started</p></a>

    <div class="bodystartpage"></div>
</div>
