@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = "Order";
}

<div>
    <h4 class="loginpagetext buytext">@Localizer["Your request has been sent! <br />Wait for the seller's response"].</h4>
    
    <a asp-action="Index" asp-controller="Event" class="btnsend btnevlistback">Back to Event List</a>
</div>